# Clojure
.cpcache/
.clj-kondo/.cache/
target/

# ClojureScript
public/js/
.shadow-cljs/
node_modules/

# nREPL
.nrepl-port

# Calva
.calva/output-window/
.calva/repl.calva-repl

# LSP
.lsp/.cache/

# Maven
~/.m2/

# macOS
.DS_Store
