# Clojure
.cpcache/
.clj-kondo
target/

# ClojureScript
portfolio/resources/public/js/
resources/public/js/
resources/public/styles.css
.shadow-cljs/
node_modules/
out/

# nREPL
.nrepl-port

# Calva
.calva/output-window/
.calva/repl.calva-repl

# LSP
.lsp/.cache/

# Maven
~/.m2/

# macOS
.DS_Store
